Library_management_system_client/Connected Services/StudentServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library_Management.dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library_Management.dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Credentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="CollegeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credentials" nillable="true" type="tns:Credentials" />
  <xs:complexType name="StudentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CollegeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentDto" nillable="true" type="tns:StudentDto" />
</xs:schema>