Library_management_system_client/Connected Services/StudentServiceReference/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Library_Management.dtos" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Library_Management.models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IStudentService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IStudentService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IStudentService_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetUserByToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByToken" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetUserByToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_isValidToken_InputMessage">
    <wsdl:part name="parameters" element="tns:isValidToken" />
  </wsdl:message>
  <wsdl:message name="IStudentService_isValidToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:isValidTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/Login" message="tns:IStudentService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/LoginResponse" message="tns:IStudentService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/Register" message="tns:IStudentService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/RegisterResponse" message="tns:IStudentService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/getUser" message="tns:IStudentService_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/getUserResponse" message="tns:IStudentService_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetUserByToken" message="tns:IStudentService_GetUserByToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetUserByTokenResponse" message="tns:IStudentService_GetUserByToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isValidToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/isValidToken" message="tns:IStudentService_isValidToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/isValidTokenResponse" message="tns:IStudentService_isValidToken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentService" type="tns:IStudentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IStudentService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IStudentService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IStudentService/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByToken">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetUserByToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isValidToken">
      <soap:operation soapAction="http://tempuri.org/IStudentService/isValidToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="BasicHttpBinding_IStudentService" binding="tns:BasicHttpBinding_IStudentService">
      <soap:address location="http://localhost:8100/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>